@model AcunMedyaCafe.Entities.About
<section class="video-sec-area pb-100 pt-40" id="about">
	<div class="container">
		<div class="row justify-content-start align-items-center">
			<div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
				<div class="overlay overlay-bg"></div>
				<a class="play-btn" href="@Model.VideoUrl"><img class="img-fluid" src="@Model.ImageUrl" alt=""></a>
			</div>
			<div class="col-lg-6 video-left">
				<h6>@Model.Subtitle</h6>
				<h1>@Model.Title</h1>
				<p><span>@Model.BoldText</span></p>
				<p>
					@Model.Description
				</p>
				<img class="img-fluid" src="~/coffee-master/img/signature.png" alt="">
			</div>
		</div>
	</div>
</section>